.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0 auto;
  margin-top: 195px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .cover__title {
    margin-top: 115px;
  }
}

@media screen and (max-width: 540px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin-top: 32px;
  }
}
